.header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 40px 120px;
    left: 0;
    right: 0;
    padding-left: 115px;
    align-items: center;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    z-index: 5;

    @include media(">1300px") {
        padding: 40px 125px;
    }

    @include media("<=1100px") {
        padding: 40px 65px;
    }

    @include media("<=900px") {
        padding: 40px 25px;
    }

    .left {
        img {
            width: 4em;
        }
    }


    .nav-items {
        display: flex;
        align-items: center;

        .show-mb {
            display: none;

            @include media("<=850px") {
                display: block;
            }
        }

        .nav-item {
            font-size: 1.02em;
            margin-right: 50px;
            cursor: pointer;

            @include media("<=850px") {
                display: none;
            }
        }

        .show {
            display: block;

            @include media("<=850px") {
                margin-right: 0;
                font-weight: 500;
                font-size: 1.2em;
            }
        }

        .show.mb {
            display: none;

            @include media("<=850px") {
                display: block;
                margin-right: 50px;
            }
        }


        .button {
            @include button;
            background: $black;
            color: $yellow;
            margin-right: 0;
        }
    }
}

.end-sars {
    .header {
        color: $white;
        padding-top: 30px;
        padding-bottom: 30px;

        .nav-items {
            .active-link {
                color: $yellowSec;
            }

            .home {
                display: block;
                margin-right: 50px;
            }

            .hide-end {
                display: none;
            }
        }
    }
}