.header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 40px 120px;
    left: 0;
    right: 0;
    padding-left: 115px;
    align-items: center;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    z-index: 5;

    @include media(">1300px") {
        padding: 40px 125px;
    }

    @include media("<=1100px") {
        padding: 40px 65px;
    }

    @include media("<=900px") {
        padding: 40px 25px;
    }

    .left {
        img {
            width: 4em;
        }
    }


    .nav-items {
        display: flex;
        align-items: center;

        .nav-item {
            font-size: 1.02em;
            margin-right: 50px;
            cursor: pointer;

            @include media("<=850px") {
                display: none;
            }
        }

        .button {
            @include button;
            background: $black;
            color: $yellow;
            margin-right: 0;
        }
    }
}