.homepage {
    background: $yellow;
    height: 100%;

    section {
        background: $yellow;
    }

    .hero {
        position: relative;
        top: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media("<=750px") {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .left {
            flex: 0 0 50%;
            max-width: 50%;
            margin-top: 20px;

            @include media("<=850px") {
                margin-top: 10px;
            }

            @include media("<=750px") {
                max-width: unset;
                flex: unset;
            }

            .ov-h {
                overflow: hidden;
                display: inline-block;

                span {
                    overflow: hidden;
                    display: block;
                    line-height: 1.1;
                }
            }
        }

        .title {
            font-weight: 500;

            @include media("<=750px") {
                margin-bottom: 30px;
                font-size: 2.2em;
            }
        }

        .right {
            flex: 0 0 50%;
            max-width: 50%;
            font-size: 1.1em;
            font-weight: 400;
            line-height: 1.8;

            @include media("<=1100px") {
                line-height: 1.7;
            }

            @include media("<=850px") {
                line-height: 1.5;
            }

            @include media("<=750px") {
                max-width: unset;
                flex: unset;
            }
        }
    }

    .grid-con {
        padding-top: 120px;
        overflow: hidden;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 6px;
        grid-template-areas: "small1 small2 main1 main1 small3 small4"
            "small5 small6 main1 main1 small7 small8"
            "main2 main2 small9 small10 main3 main3"
            "main2 main2 small11 small12 main3 main3";

        @include media("<=750px") {
            grid-gap: 4px;
        }
    }

    .about {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding-top: 120px;
        padding-bottom: 120px;

        @include media("<=750px") {
            flex-direction: column;
            padding-top: 60px;
            align-items: flex-start;
        }

        .title {
            position: absolute;
            transform: rotate(270deg) translateY(-50%);
            left: 45px;

            @include media("<=1100px") {
                left: 5px;
            }

            @include media("<=850px") {
                left: -20px;
            }

            @include media("<=750px") {
                position: static;
                transform: rotate(0) translateY(0);
                margin-bottom: 30px;
                font-weight: 700;
                font-size: 2em;
            }
        }

        .left {
            flex: 0 0 37%;
            max-width: 37%;
            background: $white;
            position: relative;
            left: 75px;

            @include media("<=1100px") {
                left: 60px;
            }

            @include media("<=850px") {
                flex: 0 0 38%;
                max-width: 38%;
                left: 45px;
            }

            @include media("<=750px") {
                max-width: unset;
                flex: unset;
                position: static;
                width: 100%;
                margin-bottom: 30px;
            }

            .reveal {
                width: 100%;
                height: 100%;
            }

            .image {
                padding: 5px;
                width: 100%;
                height: 100%;
            }
        }

        .right {
            flex: 0 0 52%;
            max-width: 52%;
            font-size: 1.12em;
            line-height: 1.7;

            @include media("<=1100px") {
                font-size: 1em;
            }

            @include media("<=750px") {
                max-width: unset;
                flex: unset;
            }

            p {
                margin-bottom: 30px;

                @include media("<=1100px") {
                    margin-bottom: 20px;
                }

                @include media("<=850px") {
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                @include media("<=750px") {
                    font-size: 1.2em;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }
        }
    }


    .finances {
        padding-top: 100px;

        .title {
            margin-bottom: 30px;
        }

        .sub {
            font-size: 1.3em;
            line-height: 1.7;
            margin-bottom: 30px;

            @include media("<=tablet") {
                font-size: 1.2em;

                br {
                    display: none;
                }
            }
        }

        .summary-con {
            display: flex;
            padding-top: 50px;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 750px) {
                padding-top: 10px;
            }

            .left {
                flex: 0 0 44%;
                max-width: 44%;

                @include media("<=750px") {
                    display: none;
                }
            }

            .right {
                flex: 0 0 52%;
                max-width: 52%;

                @include media("<=750px") {
                    flex: unset;
                    max-width: unset;
                }

                .note {
                    padding: 40px 0;
                    font-weight: 600;
                    font-size: 1.2em;
                    line-height: 2;

                    @include media("<=1100px") {
                        padding: 20px 0;
                    }

                    @include media("<=850px") {
                        line-height: 1.6;
                        font-size: 1.1em;
                    }
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: grid;
                    grid-gap: .5rem;

                    li {
                        display: grid;
                        grid-gap: 1.8em;
                        grid-template-columns: 0 1fr;
                        align-items: start;
                        line-height: 1.6;
                        font-size: 1.2em;

                        @include media("<=850px") {
                            line-height: 1.4;
                            font-size: 1.1em;
                        }

                        &::before {
                            content: '\2605';
                            font-size: 1.1em;
                            margin-top: -2px;
                        }
                    }
                }
            }

            .left {
                background: $white;

                .reveal {
                    width: 100%;
                    height: 100%;
                }

                .image {
                    padding: 5px;
                }
            }
        }
    }
}