$white: #ffffff;
$black: #000000;
$yellow: #FFE369;
$yellowSec: #F9DD58;
$grey: #cccdd1;

$Sang: 'Sangbleu',
sans-serif;
;

@mixin button {
    padding: 8px 38px;
    border-radius: 3px;
    cursor: pointer;
}